<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"> <br><br>
        <input type="text" name="password" placeholder="password"> <br><br>
        <button type="submit">LogIn</button>
    </form>
</body>
</html>