<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up</h1>

    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="name"> <br><br> 
        <input type="text" name="email" placeholder="email"> <br><br> 
        <input type="text" name="password" placeholder="password"> <br><br> 
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>