/* a:link{
    color: green;
}

a:visited{
    color: red;
}

a{
    text-decoration: none;
} */

li:hover{
    background-color: rgb(148, 149, 60);
}

li:active{
    background-color: red;
}

input:focus{
    background-color: lightgoldenrodyellow;
}
span:only-child{
    color: maroon;
}
/* li:first-child,
li:last-child{
    color: magenta;
} */

a[href^='https']{
    color: maroon;
}

a[href$='in']{
    color: violet;
}

a[href*='coding']{
    color: green;
}
/* an+b, b:offset and a : interval */
/* li:nth-child(2n+2){ 
    color: orange;
} */
li:nth-of-type(2n+2){ 
    color: orange;
    background-color: peru;
}
                                                                   
li:nth-of-type(2n+1){ 
    color: black;
    background-color: gray;
}
/* 
li:nth-last-child(-n+8){
    color: orangered;
} */

/* li:last-child{
    color: orange;
} */